.wrapper-phone {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
.wrapper-mobile {
  width: 503px;
}
.mobileApp {
  font-family: sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 50.4px;
  color: rgba(36, 20, 21, 1);
}
.lorem {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: rgba(36, 20, 21, 0.7);
  margin-top: 25px;
  margin-bottom: 40px;
}
