.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.header-button {
  padding: 13px 20px 13px 20px;
  gap: 20px;
  border-radius: 20px;
  border: none;
  color: white;
  background-color: rgba(245, 71, 73, 1);
}
.wrapper-header {
  width: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.16px;
  color: rgba(36, 20, 21, 1);margin-right: 20px;
}
